body{
	background-image:url("mochaGrunge_@2XV2.png");
	min-width: 960px;
	font-family: 'Times New Roman', sans-serif, Courier, Times, serif; 	
	color: black;
	padding: 0;
	margin: 0;	
	overflow-y: scroll;
}

header{
	margin-bottom: 0;
	margin-top: 0;
	overflow: auto;
}

/******** Default Layout Formatting *********/

/*******		BUTTON      *************/
.nav{
	background: none;
	overflow: hidden;
	position: relative;
	width: auto;
}

.nav ul{
	float:left;
	left: 50%;
	list-style: none;
	margin: 1% 0%;
	padding: 0;
	position: relative;
	text-align: center;
}
.nav ul li{
	display: block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	right: 50%;
}

.nav a{
	background: none;
	border: 1px solid black;
	color: black;
	display: table-cell;
	font-family: Courier;
	font-size: 20px;
	line-height: 38px;
	padding: 0 50px;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
	text-transform: uppercase;
}

.nav a:hover {
	background: #454d59;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
	color: #d0d2d5;
	font-size: 20px;
}

/* Round off the left edges */
.nav li:first-child a {
	border-left: none;
	border-radius: 10px 0 0 10px;
}

/* Round off the right edges */
.nav li:last-child a {
	border-right: none;
	border-radius: 0 10px 10px 0;
}


/*******      Social Links    **********/

.SocialLinks{
	/* Para1Aside Specific Formatting  */
	list-style: none;
	font-size: 13px;
	font-weight: lighter;
	font-style: normal;
	float:right;
	background: none;
	border-left: 1px solid gray;
	height: 700px;
	margin-top: 1%;
	margin-right: 0%;
	padding: 5px;
	width: 7%;
	position: fixed;
	top: 5%;
	right: -3%;
}
.SocialLinks:hover{
	right: 0%;
}


.home{
	overflow: auto;
	text-align: center;
	margin: 2% 30%;
	background: none;
	border-top:1px solid gray;
	border-bottom: 1px solid gray;
	font-size: 15px;

}


.homeTitle{
	font-size: 30px;
}

.mainBodyContent{
	font-size: 15px;
}

.homeWidget{
	text-align: left;
	font-weight: lighter;
	font-style: normal;
	float:left;
	background: none;
	height: 700px;
	margin-top: 0%;
	margin-right: 0%;
	padding: 5px;
	padding-top: 14%;
	width: 25%;
	position: fixed;
	top: 0%;
	left: 1%;
	line-height: 40px;
}

.LeftLinksList{
	text-align: center;
	list-style: none;
	font-weight: lighter;
	font-style: normal;
	float:left;
	background: none;
	border-right: 1px solid gray;
	height: 700px;
	margin-top: 1%;
	margin-right: 0%;
	padding: 5px;
	width: 150px;
	position: relative;
	top: 5%;
	left: 0%;
	line-height: 40px;
	display: block;
}

.LeftLinksList:hover{LeftLinksList
	left: 0%;
}

/******** End Default Layout Formatting *********/


/************  Project Formatting ***********/
.projectLanding{
	padding: 5px;
	text-align: center;
	margin: 2% 20%;
}

.projectList li{
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}

.projectThumb{
	border: 2px solid black;
	border-radius: 5%;
}

.projectPage{
	display: block;
	position: relative;
	text-align: center;
}

.imageText{
	text-align: center;
	position: absolute;
	font-size: 20px;
	bottom:5px;
	color:black;
	left:10%;
	right: 10%;
}

.projectOverview{
	text-align: center;
	margin: 0% 10%;
}

.projectQuickLinks{
	text-align: left;
	list-style: none;
	font-weight: lighter;
	font-style: normal;
	float:left;
	background: none;
	border-right: 1px solid gray;
	height: 700px;
	margin-top: 0%;
	margin-right: 0%;
	padding: 5px;
	padding-top: 14%;
	width: 10%;
	position: fixed;
	top: 5%;
	left: 1%;
	line-height: 40px;
}

.projectDetails{
	text-align: center;
	margin: 0% 10%;
}

.projectTemplate{
	text-align: center;
	margin: 0% 10%;
}

.projectTemplate img{
	border: 2px solid black;
	margin: 2px;
}

.projectHeader{
	text-align: center;
	margin: 0% 15%;
}

.projectContent{
	text-align: left;
	margin: 0% 15%;
}

/************  Blog Formatting ***********/
.blogLanding{
	margin: 0px auto;
	width: 800px;
	padding-left: 20px;
}

.postTitle{
	text-align: center;
	margin: 0px 250px;
}
.author{
	text-align: center;
	margin: 0px 250px;
	font-size: 16px;
}

.meta{
	text-align: center;
	margin: 0px 250px;
}

.post{
	text-align: left;
	margin: 0% 15%;
}

.blogMapsImg img{
	border: 2px solid black;
	margin: 3%;

}

.centeredImageNoBorder img{
	border: none;
	margin-left: 40%;
	margin-right: 50%;
}

/* 		END BODY	       *
****************************************
*		FOOTER		       */

.footer{
	border-top: 2px solid gray;
	text-align: center;
	position:fixed;
	bottom: 0px;
}

/*		END FOOTER	       *
****************************************/
