/******** Default Layout Formatting *********/

body{
	background: rgb(209, 209, 209);
	max-width: 950px;
	font-family: 'Roboto','Times New Roman', sans-serif; 	
	font-size: 12pt;
	color: rgb(59,59,59);
	padding: 10px;
	margin: 0px auto;	
	overflow-y: scroll;
    }


h1{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}

h2{
	text-align: center;
	font-weight: bold;
	font-size: 15pt;
}

.mainHeader{
	margin-bottom: 0;
	margin-top: 0;
	overflow: auto;
}


/*******     Links    **********/

.logo{
	position: relative;
	overflow: hidden;
    }

.LeftLinks{
	text-align: center;
	list-style: none;
	font-weight: lighter;
	font-style: normal;
	float:left;
	background: none;
	border-right: 1px solid gray;
	height: 700px;
	margin-top: 50px;
	padding: 5px;
	width: 200px;
	position: fixed;
	top: 5%;
	left: 0%;
	line-height: 40px;
	display: block;
    }

/******** End Default Layout Formatting *********/

    /* Responsive iFrame */
     
.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.responsive-iframe-container iframe,  
.vresponsive-iframe-container object, 
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/************  Blog Formatting ***********/
.blogLanding{
	list-style: none;
	margin: -1px 0px 0px -40px;
	padding: 0px;
	}

.Address{
	margin-top: 20px;
    }

.externalWebImg{
    border: 1px solid rgb(136, 136, 136);
    float: right;
    }


/* 		END BODY	       *
****************************************/
