---
layout: default
---

<p class="welcomePageHeaders">News</p>				
<hr>
<div>
        <ul>
            {% for post in site.posts %}
                {% if post.category == "news" %}
                    {% assign year={{post.date | date: "%Y"}} %} 
                    {% if year == "2014" %} 
                        <li class="blogLanding">
                            <section class="card">
                                <h3 class="header left">{{ post.date | date_to_string }}</h3>
                                <p class="content title"> {{ post.title }}</p> 
                                <p class="content"> {{ post.content }}</p>
                            </section>
                        </li>
                        {% endif %}
                    {% endif %}
            {% endfor %}
        </ul>  
<div>
    <section class="card">
        <p class="content title"><a href="archive/index.html">Archive</a></p> 
    </section>
</div>
</div>
