---
layout: default
---

<h1>Meetings</h1>				
<hr>

<section class="card">
    <p class="content center title">Where Do We Meet?</p> 
    <p class="content center"><a href="http://spurnorthfield.com/">SPUR Coworking Space</a></p> 
	<h4 class="Address content center">Address</h4>
	<p class="content center">313 1/2 Division St. S</p>
	<p class="content center">Northfield, MN 55057</p>
	<p class="content center">
        <a title="View on Google Maps" href="https://www.google.com/maps/place/313+1%2F2+Division+St+S/@44.4569015,-93.1596518,17z/data=!3m1!4b1!4m2!3m1!1s0x87f653c708dab4b3:0x7826288e9b2cdb61" target="_blank">Google Map</a>
    </p>
</section>
<hr>
<div>
    <ul>
        {% for post in site.posts %}
            {% if post.category == "meetings" %}
                {% assign year={{post.date | date: "%Y"}} %} 
                {% if year == "2014" %} 
                    <li class="blogLanding">
                        <section class="card">
                            <h3 class="header left">{{ post.date | date_to_string }}</h3>
                            <p class="content title"> {{ post.title }}</p> 
                            <p class="content"> {{ post.content }}</p>
                        </section>
                    </li>
                    {% endif %}
                {% endif %}
        {% endfor %}
    </ul>  
<div>
    <section class="card">
        <p class="content title"><a href="archive/index.html">Archive</a></p> 
    </section>
</div>
</div>
