---
layout: default
---

<h1>Meetings</h1>				
<hr>

<section class="card">
    <p class="content center title">Where Do We Meet?</p> 
    <p>Due to waning interest, the technical Meetings are currently on hiatus. If you are interested in attending, or speaking at a technical meeting. Please get in touch with us. We will resume technical meetings as interest for them grows.</p>
</section>
<hr>
<div>
    <ul>
        {% for post in site.posts %}
            {% if post.category == "meetings" %}
                {% assign year={{post.date | date: "%Y"}} %} 
                {% if year == "2015" %} 
                    <li class="card_list">
                        <section class="card">
                            <h3 class="header left">{{ post.date | date_to_string }}</h3>
                            <p class="content title"> {{ post.title }}</p> 
                            <p class="content"> {{ post.content }}</p>
                        </section>
                    </li>
                    {% endif %}
                {% endif %}
        {% endfor %}
    </ul>  
<div>
    <section class="card">
        <p class="content title"><a href="archive/index.html">Archive</a></p> 
    </section>
</div>
</div>
