/*****************************/
/*****    Card Basics    *****/
/*****************************/
.card{
    background-color: white;
    margin: 15px 0px 20px;
    padding: 10px;
    overflow: hidden ;
    box-shadow: 0px 2px 3px rgb(153, 153, 153);
    }

.content{ margin: 0px 0px 10px 0px; }
.content.left{ text-align: left; }
.content.center{ text-align: center; }
.content.right{ text-align: right; }

/******************************/
/*****    Blog Presets    *****/
/******************************/
.content.title{ text-align: center;
    font-size: 30pt;
    }
.content.blog{ margin: 0% 15%; }

/*************************************/
/*****    Positioning Layouts    *****/
/*************************************/
.card.left{
    position: relative;
    float: left;
    max-width: 450px;
    }

.card.right{
    position: relative;
    float: right;
    max-width: 450px;
    }


/*******************************/
/*****    Fixed Heights    *****/
/*******************************/
.small{ height: 100px; }

.medium{ height: 170px; }

.large{ height: 260px; }


/*************************/
/*****    Headers    *****/
/*************************/
.header{
    background-color: rgb(37, 77, 37);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 200px;
    font-weight: normal;
}

/* Full Width Headers */
.header.full{ 
    width: 103%;
    margin: -10px 0px 10px -10px;	
}
.header.left{ margin: -10px 0px 10px -10px; }
.header.center{ margin: -10px 0px 10px 39.5%; }
.header.right{ margin: -10px 0px 10px 79.6%; }

/* Half Width Headers */
.header.left.half{ margin: -10px 0px 10px -10px; }
.header.center.half{ margin: -10px 0px 10px 27%; }
.header.right.half{ margin: -10px 0px 10px 58%; }

/*************************/
/*****    Footers    *****/
/*************************/
.footer{
    font-size: 14pt;
    background-color: rgb(37, 77, 37);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 200px;
    }

/* Full Width Footers */
.footer.left{ margin: 10px 0px -10px -10px; }
.footer.center{ margin: 10px 0px -10px 39.5%; }
.footer.right{ margin: 10px 0px -10px 79.6%; }


/* Half Width Footers */
/* NOT YET SUPPORTED  */


.footer.left.half{ margin: 0px 0px 0px -10px; }

.footer.center.half{ margin: 0px 0px -10px 27%; }

.footer.right.half{ margin: 0px 0px -10px 57.8%; }


/*****************************************/
/*****          Card Colors          *****/
/*****************************************/
/*****         In Development        *****/
/*****************************************/

.yellow{ background-color: rgb(255,255,0); }
.lightYellow{ background-color: rgb(255,255,150); }

.green{ background-color: rgb(0,180,0); }
.lightGreen{ background-color: rgb(130,180,0); }
.darkGreen{ background-color: rgb(0,130,0); }
