---
layout: default
---

<div>
    <aside>
        <ul class="LeftLinks">
            {% for post in site.posts %}
                {% if post.category == "blog" %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a> </li>
                {% endif %}
            {% endfor %}
        </ul>  
     </aside> 
</div>

<section class="cardLayout">
        <h3 class="cardHeader date"> {{ page.date | date_to_string }} </h3>
        <p class="cardContent">
        <p class="postTitle" > {{ page.title }} </p>
        {{ content }}
        <p class="cardFooter"> {{ page.author }}</p>
</section>
