
<!DOCTYPE html>
<html>
    <head>
    <title>Northfield Linux User Group</title>
    <link rel="shortcut icon" type="image/x-icon" href="/icons/favicon.ico">
	<link rel="stylesheet" href="/css/StyleSheetMain.css">
	<link rel="stylesheet" href="/css/cardLayout/cardLayout.css">
    <!-- <link rel="stylesheet" href="/css/lightbox.css"/>
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/lightbox-2.6.min.js"></script> -->
    </head>
    <body>
    <header>
<!--    <aside class="logo">
        <a href="https://norlug.org" target="_blank">
        <img src="/icons/norlug_custom_logo.png" alt="Norlug" title="Norlug"/></a>
-->
    <div class="nav">
        <ul>
            <li><a href="/" title="Home">Home</a></li>
	    <li><a href="/meetings" title="Technical">Meetings</a></li>
            <li><a href="/coffeehousecoders" title="CoffeeHouseCoders">Coffee house Coders</a></l1>
			<li><a href="/news" title="news">News</a></li>   
	    </ul>
    </div>
    </aside>
    </header>
        <div class="wrapper">
            <div class="container">
                <div class="site">
                    <div class="mainHeader">
                    {{ content }}
                     <aside>
                        <ul class="RightLinks">
			    <li> 
				<a href="/">
				<img src="/icons/Tux-Cowboy.png" alt="NORLUG" title="NORLUG"/></a>				
			    </li>
                            <li>
                                <a href="/mailinglist" target="_blank">
                                <img src="/icons/Tux-Gmail.png" alt="Mailing List" title="Mailing List"/></a>
                            </li>
                            <li>
                                <a href="/g+" target="_blank">
                                <img src="/icons/Tux-G+.png" alt="GooglePlus" title="Google+"/></a>
                            </li>
                            <li>
                                <a href="/twitter" target="_blank">
                                <img src="/icons/Tux-Twitter.png" alt="Twitter" title="Twitter"/></a>
                            </li>
                            <li>
                                <a href="/github" target="_blank">
                                <img src="/icons/githubcracked.png" alt="Github" title="Github"/></a>
                            </li>
                        </ul>
                    </aside> 
                </div>
            </div> <!-- /container -->
        </div>
    <div 
        class="push">
    </div>
</html>
