
<!DOCTYPE html>
<html>
    <head>
    <link rel="shortcut icon" type="image/x-icon" href="/icons/dragonfavicon.ico">
	<link rel="stylesheet" href="/css/StyleSheetMain.css">
    <!-- <link rel="stylesheet" href="/css/lightbox.css"/>
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/lightbox-2.6.min.js"></script> -->
    </head>
    <body>
    <header>
	<div class="nav">
        <ul>
            <li><a href="/" title="Home">Home</a></li>
            <li><a href="/meetings" title="Technical">Meetings</a></l1>
            <li><a href="/coffeehousecoders" title="CoffeeHouseCoders">Coffee house Coders</a></l1>
			<li><a href="/contact" title="Contact">Contact</a></li>   
	    </ul>
    </div>
    </header>
        <div class="wrapper">
            <div class="container">
                <div class="site">
                    <div class="header">
                    {{ content }}
                     <aside>
                        <ul class="RightLinks">
                            <li>
                                <a href="" target="_top">
                                <img src="/icons/gmailcracked.png" alt="Email" title="Email"/></a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/communities/110053504606231417660?utm_source=chrome_ntp_icon&amp;utm_medium=chrome_app&amp;utm_campaign=chrome" target="_blank">
                                <img src="/icons/g+cracked.png" alt="GooglePlus" title="Google+"/></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/norlug" target="_blank">
                                <img src="/icons/twittercracked.png" alt="Twitter" title="Twitter"/></a>
                            </li>
                            <li>
                                <a href="https://github.com/norlug" target="_blank">
                                <img src="/icons/githubcracked.png" alt="Github" title="Github"/></a>
                            </li>
                        </ul>
                    </aside> 
                </div>
            </div> <!-- /container -->
        </div>
    <div 
        class="push">
    </div>
</html>
